<!-- TEAM CARDS -->
<div class="container text-center">
  <h3>TEAM CARDS</h3>
</div>
<!-- GOLD DARK TYPO -->
<div class="container-fluid">
  <div class="row" id="cards_gd">

    <div class="col">
      <div class="card">
        <img src="https://image.architonic.com/img_pro2-4/117/0761/tecu-gold-b.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center" id="card_body_bl_gd">
          <h5 class="card-title ">Name</h5>
          <p class="card-text ">Function</p>
          <div class="row justify-content-around">
            <a href="#" class="btn" id="btn_social_link_gd">LinkedIn</a>
            <a href="#" class="btn" id="btn_social_link_gd">GitHub</a>
            <a href="#" class="btn" id="btn_social_link_gd">Twitter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://image.architonic.com/img_pro2-4/117/0761/tecu-gold-b.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center" id="card_body_bl_gd">
          <h5 class="card-title ">Name</h5>
          <p class="card-text ">Function</p>
        </div>
        <div class="card-body" id="card_body_bl_wh_gd">
          <div class="row justify-content-around">
            <a href="#" class="btn" id="btn_social_link_wh">LinkedIn</a>
            <a href="#" class="btn" id="btn_social_link_wh">GitHub</a>
            <a href="#" class="btn" id="btn_social_link_wh">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- GOLD LIGHT TYPO -->
  <div class="row" id="cards_gl">

    <div class="col">
      <div class="card">
        <img src="https://image.architonic.com/img_pro2-4/117/0761/tecu-gold-b.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center" id="card_body_bl_gl">
          <h5 class="card-title ">Name</h5>
          <p class="card-text ">Function</p>
          <div class="row justify-content-around">
            <a href="#" class="btn" id="btn_social_link_gl">LinkedIn</a>
            <a href="#" class="btn" id="btn_social_link_gl">GitHub</a>
            <a href="#" class="btn" id="btn_social_link_gl">Twitter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://image.architonic.com/img_pro2-4/117/0761/tecu-gold-b.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center" id="card_body_bl_gl">
          <h5 class="card-title ">Name</h5>
          <p class="card-text ">Function</p>
        </div>
        <div class="card-body" id="card_body_black_wh">
          <div class="row justify-content-around">
            <a href="#" class="btn" id="btn_social_link_wh">LinkedIn</a>
            <a href="#" class="btn" id="btn_social_link_wh">GitHub</a>
            <a href="#" class="btn" id="btn_social_link_wh">Twitter</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
