
<!-- NAVBAR BLACK -->
<nav class="navbar navbar-expand-lg navbar-dark" id="navbar_2">
  <a class="navbar-brand" href="#">uSelect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Playlists</a>
      </li>
    </ul>
    <button type="button" class="btn" id="btn_2_connexion">Connexion</button>
    <button type="button" class="btn" id="btn_2_inscription">Inscription</button>
  </div>
</nav>

<br>

<!-- NAVBAR GOLD -->
<nav class="navbar navbar-expand-lg navbar-dark" id="navbar_4">
  <a class="navbar-brand" href="#">uSelect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Playlists</a>
      </li>
    </ul>
    <button type="button" class="btn" id="btn_4_connexion">Connexion</button>
    <button type="button" class="btn" id="btn_4_inscription">Inscription</button>
  </div>
</nav>
